<template>
<div class="mainpage">
  <div class="container">
    <h4><flash-message transition-name="fade"></flash-message></h4>
    <div class="row">
      <div class="col-md-12 mt-5">
	<form v-on:submit.prevent>
	  <div class="form-row">
	    <div class="col-8">
	      <input v-model="tags" type="text" class="form-control" id="inputTags" placeholder="Tags">
	    </div>
	    <div class="col-4">
	      <button type="submit" @click="searchTags()" class="btn btn-primary mb-2">Search</button>
	    </div>
	  </div>
	</form>
      </div>
    </div>

    <div class="row" v-if="searchResults">
      <div class="col-md-12 mt-3">
	<p>Total {{searchResults.total}} pictures found</p>
      </div>
    </div>

    
    <div class="row" v-if="searchResults">
      <div class="col-md-6 offset-5 mt-3 ">
	<nav aria-label="Results">
	  <ul class="pagination">
	    <li class="page-item">
	      <a class="page-link float-left" @click="loadPage(searchResults.prev_page_url)" aria-label="Previous" v-if="searchResults.prev_page_url">
		<span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    Page {{searchResults.current_page}}
	    <li class="page-item">
	      <a class="page-link float-right" @click="loadPage(searchResults.next_page_url)" aria-label="Next" v-if="searchResults.next_page_url">
		<span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">

      <div class="col-md-3 mb-4" v-for="pict in searchResults.data" :key="pict.id">
	<div class="card">
	  <v-lazy-image :src="pict.url" class="card-img-top" alt="..."/>
	  <div class="card-body">
	    <span class="btn">{{pict.score}} points</span>
	    <button class="btn btn-outline-info float-left" @click="vote(pict.id, 'up')"><img src="@/assets/arrow-up.svg" height="27px"></button>
	    <button class="btn btn-outline-info float-left ml-2" @click="vote(pict.id, 'down')"><img src="@/assets/arrow-down.svg" height="27px"></button>
	  </div>
	  <div class="card-footer">
	    <small class="text-muted"> · {{pict.source}} · {{pict.width}}x{{pict.height}} · {{pict.tagstxt.join(" · ")}}</small>
	  </div>
	</div>
      </div>
    </div>
    <p v-if="loading"><img class="loading" src="@/assets/loading.png" height="40px"></p>
  </div>
</div>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'

export default {
    name: 'MainPage',
    data: function() {
	return {
	    tags: null,
	    loading: false,
	    searchResults: "",
	    loading: false,
	    search_path: ""
	}
    },
    created () {
    },
    computed: {
	...mapGetters({ currentUser: 'currentUser'})
    },
    methods: {
	vote(imageid, value) {
	    let votedata = {"vote": value}
	    this.$axios.patch(this.$backendhost+'images/'+imageid, votedata)
		.then(resp => this.updateImageData(resp))
		.catch(resp => console.log(resp))
	},
	updateImageData(resp) {
	    
	    let foundIndex = this.searchResults.data.findIndex(x => x.id == resp.data['id'])
	    resp.data['url'] = this.searchResults.data[foundIndex].url
	    this.searchResults.data.splice(foundIndex, 1, resp.data)
	    },
	searchTags () {
	    if (this.tags) {
		this.loading = true
		let tags = this.tags.split(",").filter( e => e.trim().length > 0)
		tags = tags.map( t => "tags="+t.trim())
		tags = tags.join("&")
		this.$axios.get(this.$backendhost+'images?'+tags+"&filters=f_scale-w_200&limit=24&per_page=24")
		    .then(resp => {
			this.setData(resp)
			console.log(resp)
		    })
		    .catch(resp => {
			this.loading = false
			console.log(resp)
		    })
	    }
	},
	setData (resp) {
	    this.loading = false
	    this.searchResults = resp.data
	},
	loadPage(url) {
	    if (url){
		this.$axios.get(url)
		    .then(request => this.setData(request))
		    .catch(request => {console.log(request)})
	    }
	}
    }

}
</script>


<style>
  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
  opacity: 0;
  }
  span.error{
  color:#e74c3c;
  font-size:20px;
  display:flex;
  justify-content:center;
  }
  .blank_row
  .statusmessage {
  height: 22px !important; 
  }
  h3 {
  margin: 40px 0 0;
  }
  ul {
  list-style-type: none;
  padding: 0;
  }
  li {
  display: inline-block;
  margin: 0 10px;
  }
  a {
  color: #42b983;
  }
  .loading {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 30001;
      -webkit-animation:spin 2s linear infinite;
      -moz-animation:spin 2s linear infinite;
      animation:spin 2s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
</style>
