<template>
  <div class="mainpage">
    <div class="container">
      <h4><flash-message transition-name="fade"></flash-message></h4>
      <div class="row">
	<div class="col-md-12 mt-5">
	    <div class="form-group">
	      <label for="pictureUpload">Select image file</label>
	      <input type="file" ref="imagefile" class="form-control-file" id="pictureUpload">
	    </div>
	    <div class="form-group">
	      <label for="tagsInput">Image tags</label>
	      <input type="test" v-model="imagetags" class="form-control" id="tagsInput" aria-describedby="tagsHelp">
	      <small id="tagsHelp" class="form-text text-muted">Provide a list of comma-separated tags</small>
	    </div>
	    <div class="form-group">
	      <label for="licenseInput">Image License</label>
	      <input type="test" v-model="imagelicense" class="form-control" id="licenseInput" aria-describedby="licenseHelp">
	      <small id="licenseHelp" class="form-text text-muted">Provide an image license</small>
	    </div>
	    <div class="form-group">
	      <label for="publisherInput">Image Publisher</label>
	      <input type="test" v-model="imagepublisher" class="form-control" id="publisherInput" aria-describedby="publisherHelp">
	      <small id="publisherHelp" class="form-text text-muted">Provide an image publisher</small>
	    </div>
	    <div class="form-group">
	      <label for="descrInput">Image Description</label>
	      <input type="test" v-model="imagedescr" class="form-control" id="descrInput" aria-describedby="descrHelp">
	      <small id="descrHelp" class="form-text text-muted">Provide an image description</small>
	    </div>
	    <div class="form-group">
	      <label for="latInput">Image Location Lattitude</label>
	      <input type="test" v-model="imagelat" class="form-control" id="latInput" aria-describedby="latHelp">
	      <small id="latHelp" class="form-text text-muted">Provide an image location lattitude</small>
	    </div>
	    <div class="form-group">
	      <label for="lonInput">Image Location Longitude</label>
	      <input type="test" v-model="imagelon" class="form-control" id="lonInput" aria-describedby="lonHelp">
	      <small id="lonHelp" class="form-text text-muted">Provide an image location longitude</small>
	    </div>
	    <button class="btn btn-primary" v-on:click="submitFile()">Submit</button>
	</div>
      </div>
      <div class="row" v-if="imagesource" >
	<div class="col-md-6 offset-3 mt-3">
	  <figure class="figure ">
	    <img :src="imagesource.url" class="figure-img img-fluid rounded" alt="...">
	    <figcaption class="figure-caption">
	      {{imagesource.score}} points · {{imagesource.tagstxt.join(", ")}} · {{imagesource.source}} · {{imagesource.width}}x{{imagesource.height}}
	    </figcaption>
	  </figure>
	</div>
      </div>
      <p v-if="loading"><img class="loading" src="@/assets/loading.png" height="40px"></p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'UploadPage',
    data () {
	return {
	    imagefile: '',
	    imagetags: '',
	    imagesource: '',
	    imagelicense: '',
	    imagepublisher: '',
	    imagedescr: '',
	    imagelat: '',
	    imagelon: '',
	    loading: false
	}
    },
    computed: {
	...mapGetters({ currentUser: 'currentUser'})
    },    
    created () {
    },
    updated () {
    },
    methods: {
	submitFile () {
	    this.imagefile = this.$refs.imagefile.files[0];
	    console.log(this.imagefile)
	    console.log(this.imagetags)
	    let formData = new FormData();
	    formData.append('filename', this.imagefile);
	    formData.append('tags', this.imagetags);
	    if (this.imagelicense) {
		formData.append('licanse', this.imagelicanse)
	    }
	    if (this.imagepublisher) {
		formData.append('publisher', this.imagepublisher)
	    }
	    if (this.imagedescr) {
		formData.append('descr', this.imagedescr)
	    }
	    if (this.imagelat) {
		formData.append('lat', this.imagelat)
	    }
	    if (this.imagelon) {
		formData.append('lon', this.imagelon)
	    }
	    console.log(formData)
	    this.loading = true
            this.$axios.post(this.$backendhost+'images', formData, {Headers: {'Content-Type': 'multipart/form-data'}})
                .then(request => {// this.parseResponse(request)
                    this.loading = false
		    this.flashInfo('Picture uploaded', {timeout: 5000})
		    this.imagesource = request.data
		    //console.log(request.data)
		    
                })
                .catch(request => {//this.failedResponse(request)
		    if (request.response) {
			if (request.response.status == 409) {
			    this.imagesource = request.response.data.data
			}
		    }
                    this.loading = false
                })
	},
    }
}
</script>
<style>
  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to  {
  opacity: 0;
  }
  span.error{
  color:#e74c3c;
  font-size:20px;
  display:flex;
  justify-content:center;
}
</style>

<style scoped lang="css">
body {
}

.login-wrapper {
    width: 70%;
    margin: 12% auto;
}

.form-signin {
    max-width: 330px;
    padding: 10% 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.loading {
    position: fixed;
    top: 50%;
    left: 49%;
    z-index: 30001;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
</style>
